
!**/packages/build/
!*.[Cc]ache/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/packages/*
*.DotSettings.user
*.GhostDoc.xml
*.VC.VC.opendb
*.VC.db
*.VisualState.xml
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.build.csdef
*.cachefile
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.gpState
*.ilk
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.nuget.props
*.nuget.targets
*.nupkg
*.obj
*.opendb
*.opensdf
*.opt
*.orig
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pid
*.pid.lock
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.rdl.data
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.seed
*.sln.docstates
*.sln.iml
*.suo
*.svclog
*.tgz
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userosscache
*.userprefs
*.vsp
*.vspscc
*.vspx
*.vssscc
*_i.c
*_i.h
*_ignore*
*_p.c
*~
.*crunch*.local.xml
.DS_Store
.JustCode
.builds
.env
.eslintcache
.fake/
.grunt
.idea*
.idea/
.lock-wscript
.node_repl_history
.npm
.ntvs_analysis.dat
.nyc_output
.paket/paket.exe
.sass-cache/
.serverless
.vagrant
.vs/
.vscode
.yarn-integrity
AppPackages/
ApplicationInsights.config
AutoTest.Net/
Backup*/
BundleArtifacts/
ClientBin/
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
FakesAssemblies/
Generated_Code/
Package.StoreAssociation.xml
PublishScripts/
TestResult.xml
UpgradeLog*.XML
UpgradeLog*.htm
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ll]og/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
_pkginfo.txt
artifacts/
bld/
bower_components
build/Release
coverage
csx/
dlldata.c
ecf/
ipch/
jspm_packages/
lib-cov
logs
nCrunchTemp_*
node_modules
node_modules/
npm-debug.log*
orleans.codegen.cs
paket-files/
pids
project.lock.json
publish/
rcf/
typings/
venv
x64/
x86/
yarn-debug.log*
yarn-error.log*
~$*
